{% extends "home.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #3ae0bc; }
  </style>
{% endblock %}
{% block content %}
<div align="center" >
  <h1>Easy Shop</h1>
    <p>
      Online Shopping has become a vivid part of our life. During this pandemic it had become hard for us to go out of our homes and shop without any concerns about our health so we came up with an online shopping portal which helped us to shop without worrying about our health.
      One of the earliest forms of trade conducted online was IBM's online transaction processing (OLTP) developed in the 1960s and it allowed the processing of financial transactions in real-time.Our website has various categories in online shopping, we have clothes,accessories for both
      men and women. we also provide groceries for daily use which makes makes us even more customer friendly.
    </p>

</div>
    {% endblock %}